[defaults]
inventory                    = ./inventory/hosts
remote_user                  = rhce-admin
host_key_checking            = False
roles_path                   = ./roles
retry_files_enabled          = False
gathering                    = smart
fact_caching                 = memory
stdout_callback              = ansible.builtin.default
stdout_callback_result_format = yaml
deprecation_warnings         = False
log_path                     = ./logs/ansible.log
forks                        = 5
timeout                      = 10
callbacks_enabled            = ansible.posix.profile_tasks, ansible.posix.timer

[privilege_escalation]
become                       = True
become_method                = sudo
become_user                  = root
become_ask_pass              = False

[ssh_connection]
ssh_args                     = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
pipelining                   = True
control_path_dir             = ~/.ansible/cp
