[defaults]
inventory         = ./inventory/hosts
remote_user            = rhce-admin
private_key_file       = /home/rhce-admin/.ssh/id_ed25519
host_key_checking      = False
roles_path        = ./roles

[privilege_escalation]
become            = True
become_method     = sudo
become_user       = root
become_ask_pass   = False
